<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="tests.listeners.CustomListeners">

        </listener>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="/Users/Parvin/IdeaProjects/SampleJavaProject/src/test/java/tests/listeners/ListenerTest.java">
        <classes>
            <class name="tests.listeners.ListenerTest">
            </class>
        </classes>
    </test>
</suite>